/*
html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }*/

.num, .op, #submit {
  font-size: 22px;
  width: 70px;
  height: 50px;
  padding: 2px;
  border-radius: 8px;
  margin: 10px;
  align: center;
}

.num:hover, .op:hover {
  background-color: plum;
}

#submit:hover {
  background-color: lightGreen;
}

#calc {
  width: 400px;
  margin: 0 auto;
  height: 420px;
  background-color: gray;
  border-radius: 40px;
  padding: 12px;
}

th {
  height: 35px;
  width: 400px;
  background-color: lightGreen;
  padding: 10px;
  border-radius: 10px;
  border-width: 20px;
}

#rowOne {
  margin: 500px;
}

#result2 {
  font-size: 32px;
  color: green;
  align: right;
}

#result {
  font-size: 30px;
  background-color: goldenrod;
  color: darkBlue;
  border-radius: 15px;
  margin-left: 40%;
  margin-right: 25%;
  padding-left: 22%;
  height: 50px;
  width: 80px;
}

.nav, .base {
  width: 155px;
  height: 84px;
  font-size: 14px;
  padding: 15px;
}

.nav:hover {
  background-color: gold;
}

.base:hover {
  background-color: powderBlue;
}
